{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!----------------------------------------------------------------------->
<!-- Main map content: -->
<!----------------------------------------------------------------------->
<div id="map" class="mapstyle"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCazSLTdKVrS-Z8ZaAH7jM0EEpntQPHFTA&callback=initMap" async defer></script>
<!-- Here's a template I made for a modal, which pops down and shows the user the picture
	 You gotta change the html within javascript, otherwise you'll have some default junk as shown: -->
<div class="modal fade image-modal" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="image-modal-title">No title specified :(</h4>
      </div>
      <img src="http://i.imgur.com/EAFOC.jpg" id="imgmodal" class="image-in-modal"/>
    </div>
  </div>
</div>
{% endblock %}
