{% extends "base.html" %}
{% load staticfiles %}


{% block css %}
.mapstyle {
	width: 100%;
	height: 800px;
}

.image-in-modal {
	width: 100%;
}
{% endblock %}



{% block content %}
<!----------------------------------------------------------------------->
<!-- Bootstrap's navigation bar: -->
<!----------------------------------------------------------------------->
<nav class="navbar navbar-default" style="margin-bottom:0px">
  <div class="container-fluid">
    <!-- 'wandermap' and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wandermap</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">World<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Show me.. <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Top 50</a></li>
            <li><a href="#">Hot 50</a></li>
            <li><a href="#">Newest 50</a></li>
            <li><a href="#">Everything</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Places near...<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.reddit.com/r/EarthPorn/">View the Subreddit</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!----------------------------------------------------------------------->
<!-- Main map content: -->
<!----------------------------------------------------------------------->
<div id="map" class="mapstyle"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCazSLTdKVrS-Z8ZaAH7jM0EEpntQPHFTA&callback=initMap" async defer></script>
<!-- Here's a template I made for a modal, which pops down and shows the user the picture
	 You gotta change the html within javascript, otherwise you'll have some default junk as shown: -->
<div class="modal fade image-modal" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="image-modal-title">No title specified :(</h4>
      </div>
      <img src="http://i.imgur.com/EAFOC.jpg" id="imgmodal" class="image-in-modal"/>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
      var map, marker, title, shorttitle, linkto, imgsrc;
      function initMap() { 
		
		coordinates = {lat: 39.2599775, lng: -107.1715559};
		title = "Storm Clouds over Mount Sopris, Colorado. [OC][4354x2900]"
		linkto = "https://www.reddit.com/r/EarthPorn/comments/4c8g6z/storm_clouds_over_mount_sopris_colorado/"
		shorttitle = "Mount Sopris"
		imgsrc = "http://i.imgur.com/DQdWvz2.jpg"
		
        map = new google.maps.Map(document.getElementById('map'), {
          center: coordinates,
          mapTypeId: google.maps.MapTypeId.HYBRID,
          zoom: 4
        });
		marker = new google.maps.Marker({
		  position: coordinates,
		  map: map,
		  animation: google.maps.Animation.DROP,
		  title: shorttitle
		  
		});
		marker.addListener('click', showPhoto);
      }
      
      function showPhoto() {
		  $('#image-modal').modal('show');
		  var s = "<a href=" + imgsrc + "><span class=\"glyphicon glyphicon-fullscreen\""
		  + "aria-label=\"full size image\"></span></a>" // little fullscreen icon that will give them link to picture
		  + "&nbsp;&nbsp;<b>" + title + "</b>&nbsp;&nbsp;" + // Bold title of the reddit post (or whatever title we end up wanting)
		  "<a href=" + linkto + ">View this on Reddit</a>"; // and finally a link to the specific post on reddit
		  document.getElementById("image-modal-title").innerHTML = s;
		  document.getElementById("imgmodal").src = imgsrc;
		}
      
</script>
{% endblock js %}
